@import "./var.scss";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5715;
  font-size: 14px;
}

p {
  font-size: 14px;
  line-height: 1.5715;
  word-spacing: 0.05em;
}

table {
  font-size: 12px;
  line-height: 1.5715;
  border-collapse: collapse;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul:not([class]),
ol:not([class]) {
  line-height: 1.6rem;
  margin-top: 0.6rem;
  margin-left: 0.6rem;
  list-style-type: disc;

  > li {
    line-height: 1.8rem;
    margin-left: 1.6rem;
    list-style: circle;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.tap-active {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #000;
    border: inherit;
    border-color: #000;
    border-radius: inherit;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
  }

  &:active::before {
    opacity: 0.1;
  }
}

// 覆盖一些样式
.theme-default-content:not(.custom) {
  padding-top: 2rem;
}

.back-to-top {
  width: 1.2rem !important;
  height: 1.2rem;
}

.github-readme {
  img {
    width: auto;
    height: 147px;
  }
}